*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #0a0a23;
  --white: #ffffff;
  --yellow: #f1be32;
}

body {
  color: var(--white);
  background-color: var(--dark-grey);
 
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 100px;
    
}

.text {
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  color : var(--dark-grey);
  width: 600px;

}

.text > input{
  border-radius: 10px;
  padding: 5px; 
  width: 350px;
}

.text > p{
  margin-bottom: 20px;
  font-weight: bold;
  
}

.text > button {
  background-color:var(--dark-grey);
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
}